@{
	Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
	ViewBag.Title = "Customer";
}

<h2>@ViewBag.Title</h2>

<a href="/Customers/Create">Register New Customer</a><br />
<a href="/Customers/">View Customer Table</a><br />


