@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	ViewBag.Title = "Restaurant";
}

<h2>@ViewBag.Title</h2>

<a href="/Restaurants/Create">Register New Restaurant</a><br />
<a href="/Restaurants/">View Restaurant Table</a><br />